{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    {% if user.is_staff %}
        <a href="{% url 'news:news_create' %}" class="btn btn-color-accent mb-4">Добавить новость</a>
    {% endif %}
    <div class="row row-margin-bottom mt-4">
        {% if news %}
        {% for new in news %}
        <div class="col-lg-6 col-md-12">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        {% if new.image %}
                        <img class="lib-img-show"
                            src="{{ new.image.url }}">
                        {% else %}
                        <img class="lib-img-show"
                            src="{% static "assets/images/news/no_photo.jpg" %}">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="lib-row lib-header d-flex justify-content-between align-items-center">
                            <a href="{% url "news:news_detail" slug=new.slug%}" class="news-exsept-title">{{ new.title }}</a>
                            {% if user.is_staff %}
                            <a href="{% url 'news:news_delete' slug=new.slug %}" class="btn btn-danger">Удалить</a>
                            {% endif %}
                        </div>
                        <div class="lib-row lib-desc">
                            <p class="mb-0"><i class="fa-regular fa-calendar"></i></span>
                                {{ new.created_at }}</p>
                            <p class="mb-0"><i class="fa-solid fa-rotate"></i>
                                {{ new.updated_at }}</p>
                            <p>Автор: {{ new.author }}</p>
                            <p class="news-exsept">{{ new.content }}</p>
                            <p><i class="fa-regular fa-eye"></i></span> {{ new.views }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3 class="d-flex justify-content-center align-items-center">Новостей пока нету!</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-6">
                <h4>Информация</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url "main:index" %}">Меню</a></li>
                    <li><a href="{% url "news:news_list" %}">Новости</a></li>
                    <li><a href="{% url "works:job_application" %}">Работать с нами</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-6">
                <h4>Где мы находимся:</h4>
                <ul class="list-unstyled text-center" style="color: #3d464d;">
                    <li>г.Пятигорск, ул. Ленина 12</li>
                    <li>Рабочее время: 9:00 - 20:00</li>
                </ul>
            </div>

            <div class="col-md-4 col-6">
                <h4>Follow us</h4>
                <ul class="footer-icons">
                    <li><a href="{% url "main:index" %}"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="{% url "main:index" %}"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="{% url "main:index" %}"><i class="fa-brands fa-instagram"></i></a></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}