{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="product-page">
    <div class="row">
        <div class="col-md-5 col-lg-4 mb-4 mt-4">
            <div class="bg-white h-100">
                <div class="img-item">
                    {% if product.image %}
                    <img src={{ product.image.url }} class="img-fluid" alt="">
                    {% else %}
                    <img src="{% static "assets/images/Not found image.png" %}" class="img-fluid" alt="">
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-7 col-lg-8 mb-3">
            <div class="product-content p-3 h-100">
                <h1 class="section-title h-3"><span>{{ product.name }}</span></h1>        
                <div class="descript">
                    <p class="color-accent h5">{{ product.weight }}мл.</p>
                    <p class="color-accent h5">Состав:</p>
                    <p>
                        {{ product.structure }}
                    </p>
                    <p class="color-accent h5">Описание:</p>
                    <p>
                        {{ product.descriptions }}
                    </p>
                    <p class="color-accent h5">Цена:</p>
                    <p class="h5" id="product-price" data-base-price="{{ product.price }}">
                        {{ product.price }}Р
                    </p>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-4 mb-2">
                        <p class="color-accent h5">КБЖУ(100мл):</p>
                        <table class="table table-descript">
                            <tbody>
                                <tr>
                                    <th scope="row">Калории</th>
                                    <td class="text-end" id="calories">{{ product.calories }} ккал</td>
                                </tr>
                                <tr>
                                    <th scope="row">Белки</th>
                                    <td class="text-end" id="protein">{{ product.protein }} г</td>
                                </tr>
                                <tr>
                                    <th scope="row">Жиры</th>
                                    <td class="text-end" id="fats">{{ product.fats }} г</td>
                                </tr>
                                <tr>
                                    <th scope="row">Углеводы</th>
                                    <td class="text-end" id="carb">{{ product.carb }} г</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="product-add2cart">
                            <div class="input-group">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <a href="{% url 'carts:cart_add' %}"
                                class="btn color-accent add-to-cart" 
                                data-base-price="{{ product.price }}"    
                                data-product-id="{{ product.id }}"><i class="fas fa-shopping-cart"></i>
                                <span class="buy-button-text">Купить</span></a>
                            </div>
                        </div>
                    </div>
                    {% if product.category.name in "Кофе, Напитки" %}
                    <div class="col-lg-8 mb-2">
                        <p class="color-accent h5">Добавки:</p>
                        <div class="overflow-auto " style="max-height: 200px; padding: 10px;">
                            <div class="row">
                                {% for top in topping %}
                                    <div class="col-4">
                                        <div class="topings-thumb">
                                            <input type="checkbox" class="btn-check" name="topping_ids[]" id="option{{ forloop.counter }}" autocomplete="off"
                                            value="{{ top.id }}"
                                            data-price="{{ top.price }}"
                                            {% comment %} data-id="{{ top.id }}" {% endcomment %}
                                            {% if top.types.name == 'Молоко' %}data-milk="true"{% endif %}
                                            data-protein="{{ top.protein }}" 
                                            data-fats="{{ top.fats }}" 
                                            data-carb="{{ top.carb }}" 
                                            data-calories="{{ top.calories }}">
                                            <label class="btn" for="option{{ forloop.counter }}"><img src="{{ top.image.url }}" alt=""></label>
                                            <p>{{ top.name }}</p>
                                            <span>{% if top.price > 0 %}{{ top.price }}{% else %}Бесплатно{% endif %}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-6">
                <h4>Информация</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url "main:index" %}">Меню</a></li>
                    <li><a href="{% url "news:news_list" %}">Новости</a></li>
                    <li><a href="{% url "works:job_application" %}">Работать с нами</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-6">
                <h4>Где мы находимся:</h4>
                <ul class="list-unstyled text-center" style="color: #3d464d;">
                    <li>г.Пятигорск, ул. Ленина 12</li>
                    <li>Рабочее время: 9:00 - 20:00</li>
                </ul>
            </div>

            <div class="col-md-4 col-6">
                <h4>Follow us</h4>
                <ul class="footer-icons">
                    <li><a href="{% url "main:index" %}"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="{% url "main:index" %}"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="{% url "main:index" %}"><i class="fa-brands fa-instagram"></i></a></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
